body{
    background-color:lightsteelblue;
    margin: 5%;
}
header{
    font-size: 2em;
    color: navy;
    text-decoration: underline;
    text-align: center;
}
p {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.4em;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 5%;
}
ul{
    list-style-type:square;
    font-size: 1.2em;
}
h3#BaseballTittle {
    font-size: 1.75em;
    color:purple;
    text-decoration: underline;
}
img#MLB_Logo{
    height: 30em;
    width: 30em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    
}
div.LinkBar {
    display: flex;
    border: .25em solid blueviolet;
    padding: .5em;
    justify-content: space-around;
    align-items:center;
    width: fit-content;
    float:inline-start;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2.5%;
}
div.LinkBlock{
    font-size: 1.2em;
    border: dotted black;
    height: 25%;
    width:  fit-content;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: .25em;
    border: 3px solid black;
    background-color: cornflowerblue;
    align-items: center;
    justify-content: space-evenly;
}
div.Link{
				
    width: fit-content;
    float:inline-start;
}
div.pictureBar {
    display: flex;
    border:10px solid darkslategrey;
    padding: .5em;
    justify-content: space-around;
    align-items:center;
    width: fit-content;
    float:inline-start;
    margin-left: auto;
    margin-right: auto;
}
div.pictureBlock{
    font-size: 2em;
    border: dotted black;
    height: 60%;
    width:  40%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: .5em;
    border: 3px solid black;
    background-color:salmon;
    align-items: center;
    justify-content: space-evenly;
}
div.picture{
    
    width: fit-content;
    float:inline-start;
}
div.label{
    text-align: center;
    width: fit-content;
}